.container-fluid
{
    padding: 0 !important;
}
img
{
    max-width: 60vh;
    max-height: 60vh;
    border: 1px solid cyan !important;
}
form
{
    margin-top: 0;
    margin-bottom: 0;
}
.fa-spin
{
    animation-duration: 1.5s !important;
    margin-top: 100px;
}
.fa-spinner
{
    color: cyan;
}
.infotab
{
    margin: 2% 5%;
}
html, .container-fluid
{
    background-color: #292929;
    color: white;
    height: 100%;
}
.col-lg-12, .col-sm-12, .col-xl-12
{
    padding: 5px;
}
.row
{
    margin: 0px !important;
    padding: 0px !important;
}